html {
    
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,1)), url("https://wallpaperaccess.com/full/235860.jpg") ;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.container{
    text-align: center;
    margin-top: 50px;
   
}
.navbar{
    background: none;
    
}
.footer{

    background: none;
    
}
.button, .button .is-success{
    
    background-color: rgb(3, 185, 28);
    color: white;
    font-weight: bold;
    margin: 5px;
     
}
.button:hover{
    color: white;
    background-color: rgb(3, 155, 23);
}
.label{
    color: white;
    text-shadow: 1px 1px #333;
    
}
.input{
    
    width: 60%;
}
#registerbtn{
    text-align: center;

}
#loginbtn{
    text-align: center;
}
p{
    color: white;
    
}
a{
font-weight: bold;
}
a:hover{
  color: rgb(204, 204, 204);  
}
.card{
    display: inline-block;
    
}
.card-content{
    background-color: rgb(19, 19, 19);
   
}

.title, .subtitle{
    color: white;
}

.carding {
    margin-top: 150px;
}
.home-title{
    color: #eee;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;

}
.profile-button .addmovie-button {
    margin-bottom: 15px;
}
.searchmovie-button{
    margin-top: 20px;
}
.profile-username{
    color: #eee;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 800;
    font-size: 40px;
}
.addmovie-button{
    
    margin-top: 15px;
    margin-bottom: 35px;
}
.usershows{
    color: #eee;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 45px;
    text-decoration: underline;
}
.begin-search-text{
    color: #eee;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 45px;
    text-decoration: underline;
}

.watchlist-img{
    /* float: left; */
    max-width: 269px;
    max-height: 360px;
    /* height: auto; */
    margin: 10px;
    /* width: auto; */
   
    /* display: flex */
    
}

.column2{
    
        /* flex: 33.33%;
        padding: 100px; */

}

li{
    list-style-type: none;
}

